<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Data Contacts</h1>

    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Company</th>
        <th>Telephone</th>
        <th>Email</th>
      </tr>

    </table>

  </body>
</html>
