<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GROUPS</title>
  </head>
  <body>
    <h1>EDIT GROUP</h1>
    <div id = "form-input">
      <form action="/groups/edit/<%=data.id%>" method="POST"
        <input type="text" name= "name_of_group" value="<%=data.name_of_group%>"> <br> Name Of Group:
      </br>
        <input type="submit" value="submit">
      </form>
    </div>
  </body>
</html>
