<!DOCTYPE html>
<html>
  <head>
    <title>Profile Edit</title>
    <style>
    p,a{font-size: 14px; margin: 0; padding: 5px;}
    </style>
  </head>
  <body>
    <h1>Profile<h1>
      <form action="/profile/edit/<%=data.id%>" method="post">
          <div>
            <p>Username</p>
            <input type="text" name="username" value="<%= data.username %>">
          </div>
          <div>
            <p>Password</p>
            <input type="text" name="password" value="<%= data.password %>">
          </div>
          <a href="/profile">Cancel</a>
          <button type="submit" name="submit">Update</button>
      </form>
  </body>
</html>
