<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ADDRESSES</title>
  </head>
  <body>
    <h1>EDIT ADDRESSES</h1>
    <div id = "form-input">
      <form action="/addresses/edit/<%=data.id%>" method="post">
        <input type="text" name= "street" value="<%=data.street%>"> <br> Street:
        <br>
        <input type="text" name= "city" value="<%=data.city%>"> <br> City:
        <br>
        <input type="text" name= "zipcode" value="<%=data.city%>"> <br> Zipcode:<br>
        <input type="submit" value="submit">
      </form>
    </div>
  </body>
</html>
