<html>

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div id="form-input">
        <form action="/profiles/edit/<%=dataRow[0].id %>" method="post">
            <br> Username:
            <br>
            <input type="text" name="username" value="<%=dataRow[0].username %>"> <br> Password:
            <br>
            <input type="text" name="password" value="<%=dataRow[0].password %>"><br>
            <br>
            <input type="submit" value="Save">
        </form>

    </div>

</body>

</html>