<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Profile</title>
</head>
<body>
  <form action='/profiles/edit/<%= dataJsonProfiles[0].id %>' method="post" >
    Username: <input type="text" name="username" value="<%= dataJsonProfiles[0].username %>"><br>
    Password: <input type="text" name="password" value="<%= dataJsonProfiles[0].password %>"><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>