<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit</title>
</head>
<body>
  <form action="/contacts/edit/:id" method="post">
    Name:
    <br>
    <input type="text" name="name" value="">
    <br>
    Company:
    <br>
    <input type="text" name="company">
    <br>
    Telp. Number:
    <br>
    <input type="text" name="telp_number">
    <br>
    Email:
    <br>
    <input type="text" name="email">
    <br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
