<!DOCTYPE html>
<html>
<head>
  <title>Welcome | PJAP17</title>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:300" rel="stylesheet" type="text/css">
  <!-- <link rel="stylesheet" type="text/css" href="/assets/style.css"> -->
</head>
  <body>
    <h1>Halaman Edit Address</h1>
    <form class="" style="margin-top:10px;" action="/addresses/edit/<%= dataAddress[0].id %>" method="POST">
      <input type="text" name="street" value="<%= dataAddress[0].street %>">
      <input type="text" name="city" value="<%= dataAddress[0].city %>">
      <input type="text" name="zipcode" value="<%= dataAddress[0].zipcode %>">
      <input type="submit" value="SUBMIT">
    </form>
  </body>
</html>
