<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title%></title>
    </head>

    <body>
        <form class="" action="/groupsedit/<%=data.id%>" method="POST">
            <input type="text" name="name_of_group" placeholder="Group Name" value="<%=data.name_of_group%>">
            <input type="submit" value="SUBMIT">
        </form>
    </body>
</html>