<html>

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="menu">
        <a href="contacts">Contact</a>
        <a href="groups">Group</a>
        <a href="profiles">Profile</a>
        <a href="addresses">Address</a>
    </div>
    <div id="main-table">
        <table style="width:80%" border="1">
            <tr>
                <th>ID</th>
                <th>Name of Group</th>
                <th colspan="2">Activity</th>
            </tr>
            <% for(var i=0; i< dataRow.length; i++)  {%>
                <tr>
                    <td>
                        <%=dataRow[i].id %>
                    </td>
                    <td>
                        <%=dataRow[i].name_of_group %>
                    </td>
                    <td>
                        <a href="/groups/edit/<%=dataRow[i].id%>">Edit</a>
                    </td>
                    <td><a href="/groups/delete/<%=dataRow[i].id%>">Delete</a></td>
                </tr>
                <%}%>
        </table>
    </div>

    <div id="form-input">
        <form action="/groups" method="post">
            <br> Name of Group:
            <br>
            <input type="text" name="name_of_group"> <br>
            <br>
            <input type="submit" value="Save">
        </form>

    </div>

</body>

</html>