<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Halaman Edit Groups</h1>
  </td>
  </tr>
    </tbody>
    </table>
</body>
<table border = '2px'>
<form action="/groups/edit/<%=data.id%>" method="POST">
  <label>Groups Names: <input type="text" name="name_of_group" placeholder="nama groups" value = "<%=data.name_of_group%>"> </label>
  <input type="submit" value="SUBMIT">
</form>
</table>
</html>
