<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Halaman Edit Groups</h1>
    <a href="/">Back to Home</a>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name Of Groups</th>
          </tr>
      </thead>
      <tbody>
        <%dataGroups.forEach( rows => { %>
          <tr>
            <td><%=rows.id%></td>
            <td><%=rows.name_of_group%></td>
          </tr>
        <% })%>
      </tbody>
    </table>
    <br>
    <form action="/groups/edit/<%=dataGroups[0].id%>" method="POST">
      <fieldset>
        <legend>Edit Data Contacts:</legend>
        Name:<br>
        <input type="text" name="name_of_group" value="<%=dataGroups[0].name_of_group%>" placeholder="Name">
        <br><br>
        <input type="submit" value="SUBMIT">
      </fieldset>
    </form>
  </body>
</html>
