<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/groups/edit/:<%=groups.id%>" method="POST">

      Name of group:<br>
      <input type="text" name="name_of_group" value="<%=groups.name_of_group%>"><br>

      <input type="submit">
    </form>
  </body>
</html>
