<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Groups</title>
  </head>
  <body>
    <form action="/groups/edit/<%= dataRows[0].id %>" method="post">
      Name of Group :<br>
      <input type="text" name="name_of_group" placeholder="Your Name" value="<%= dataRows[0].name_of_group %>">
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
