<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
  </head>
  <style media="screen">
    h1{
      text-align: center;
    }
    a{
      text-align: center;
    }
    td,tr,a{
      text-align: center;
    }
  </style>
  <body>
    <h1>Brother Company</h1>
    <tr>
      <td><a href="/contact">Contact</a></td>
      <td><a href="/group">Group</a></td>
      <td><a href="/profile">Profile</a></td>
      <td><a href="/address">Address</a></td>
    </tr>
  </body>
</html>
