<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EXPRESS DEMO</title>
  </head>
  <body>
    <h1>EXPRESS DEMO CONTACTS AND GROUPS</h1>
    <table>
      <tr>
        <td><a href="/contacts">Contacts</a></td>
      </tr>
      <tr>
        <td><a href="/groups">Groups</a></td>
      </tr>
      <tr>
        <td><a href="/addresses">Addresses</a></td>
      </tr>
      <tr>
        <td><a href="/profile">Profile</a></td>
      </tr>
    </table>
  </body>
</html>
