<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Halaman Index</title>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <h1>WELCOME EXPRESS CONTACTS-GROUPS</h1>
  <body class='body'>
    <a href="contacts">Contacts</a>
    <a href="groups">Groups</a>
    <a href="profiles">Profile</a>
    <a href="addresses">Addresses</a>
  </body>
</html>
