<!DOCTYPE html>
<html>
<head>
	<title>Edit</title>
</head>
<body>
	<h1>Halaman Utama</h1>
	<a href="contacts">Contacts</a></br>
	<a href="addresses">Addresses</a></br>
	<a href="profile">Profile</a></br>
</body>
</html>