<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
</head>
<body>

  <h2>Welcome, CRUD</h2>

  <a href="/contacts">Contacts</a>
  <a href="/groups">Groups</a>
  <a href="/addresses">Addresses</a>
  <a href="/profile">Profile</a>

</body>
</html>
