<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contacts Apps</title>
  </head>
  <body>
    <h1>Contacts Applications</h1>
    <a href="/contacts"><button type="button" name="button">contacts</button></a>
    <a href="/groups"><button type="button" name="button">groups</button></a>
    <a href="/addresses"><button type="button" name="button">addresses</button></a>
    <a href="/profiles"><button type="button" name="button">profiles</button></a>
  </body>
</html>
