<!DOCTYPE html>
<html>
<head>
  <title>Express CRUD</title>
  <style>
  	html,body {margin: 0; padding: 0; font-family: arial}
  	.container {display:block; width: 80%; margin:auto;}
  	h3 {font-size: 22px; color: red; text-align: left; margin: 5px;}
  	ul {display: block; height: 40px; margin: 0; padding: 0; text-align: center; background: #333; }
  	ul li {list-style: none; float: left; margin-right: 20px; margin-left: 5px; padding: 10px}
  	ul li a{text-decoration: none; color: #fff; font-weight: bold;}
  	ul li a:hover{color: #ccc;}
  </style>
</head>
	<body>
	  <div class="container">
		  <h3>Express CRUD With SQLite 3</h3>
		  <ul>
	      <li><a href="/">Home</a></li>
			  <li><a href="/profile">Profile</a></li>
			  <li><a href="/contact">Contact</a></li>
			  <li><a href="/address">Address</a></li>
			  <li><a href="/group">Group</a></li>
		 	</ul>
		 </div>
	</body>
</html>
