<!DOCTYPE html>
<html>
	<head>
		<title>Welcome | PJAP17</title>
		<link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.css">
	</head>
	<body>
			<div>
				<h1>Halaman Index</h1>
				<div>
					<a href="/contacts">Go To The Contacts</a>
					<a href="/addresses">Go To The Adresses</a>
					<a href="/groups">Go To The Groups</a>
					<a href="/profiles">Go To The Profiles</a>
				</div>
			</div>
	</body>
</html>
