<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Halo Kit Fox</title>
  </head>
  <body>
    <marquee style='margin-bottom: 50px;'>Halaman Utama</marquee>
    <a href='/contacts'>Contacts</a></br>
    <a href='/groups'>Groups</a></br>
    <a href='/profile'>Profile</a></br>
    <a href='/addresses'>Addresses</a>
  </body>
</html>
  