<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Profile</title>
  </head>
  <body>
    <form action="/profiles/edit/<%= dataRows[0].id %>" method="post">
      Username :<br>
      <input type="text" name="username" placeholder="Your Username" value="<%= dataRows[0].username %>">
      <br>
      Password :<br>
      <input type="text" name="password" placeholder="Your password" value="<%= dataRows[0].password %>">
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
