<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Halaman Edit Profiles</h1>
  </td>
  </tr>
    </tbody>
    </table>
</body>
<table border = '2px'>
<form action="/profiles/edit/<%=data.id%>" method="post">
  <label>Username : <input type="text" name="username" placeholder="Username" value = "<%=data.username%>"> </label>
  <label>Password : <input type="text" name="password" placeholder="Password" value = "<%=data.password%>"></label>
  <input type="submit" value="SUBMIT">
</form>
</table>
</html>
