<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/profile/edit/<%=data[0].id%>" method="POST">
      <input type="text" name="username" placeholder="Username" value="<%=data[0].username%>">
      <input type="text" name="password" placeholder="Password" value="<%=data[0].password%>">
      <button type="submit" name="submit">Submit</button>
    </form>
  </body>
</html>
