<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EXPRESS DEMO</title>
  </head>
  <body>
    <h1>GROUPS</h1>
    <!-- Table -->
    <table border="1px solid gray">
	  <thead>
		<tr>
		  <th>ID</th>
		  <th>Group Name</th>
		  <th>Option</th>
		</tr>
	  </thead>
	  <tbody>
	  	<% for (let i = 0; i < groups.length; i++) { %>
	  	<tr>
	  	  <td><%= groups[i].id %></td>
	  	  <td><%= groups[i].name_of_group %></td>
	  	  <td>
	  	  	<a href="/groups/edit/<%= groups[i].id %>">Edit</a>
	  	  	<a href="/groups/delete/<%= groups[i].id %>">Delete</a>
	  	  </td>
	  	</tr>
	  	<% } %>
	  </tbody>
    </table>

    <!-- Form -->
    <form action="/groups" method="POST">
      Group Name:<br>
      <input type="text" name="name_of_group" value="">
      <br><br>
      <input type="submit" value="Submit">
    </form> 
  </body>
</html>