<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EXPRESS DEMO</title>
  </head>
  <body>
    <h1>EDIT ADDRESSES</h1>
    
    <!-- Form -->
    <form action="/addresses/edit/<%= addresses.id %>" method="POST">
      Street:<br>
      <input type="text" name="street" value="<%= addresses.street %>">
      <br>
      City:<br>
      <input type="text" name="city" value="<%= addresses.city %>">
      <br>
      Zipcode:<br>
      <input type="text" name="zipcode" value="<%= addresses.zipcode %>">
      <br><br>
      <input type="submit" value="Submit">
    </form> 
  </body>
</html>
