<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div>
        <% temp.forEach(function(temps) { %>
            <form action="/editAddressFinal" method="POST">
                <input type="text" placeholder=<%= temps.id%> name="id">
                <input type="text" placeholder=<%= temps.street%> name="street">
                <input type="text" placeholder=<%= temps.city%> name="city">
                <input type="text" placeholder=<%= temps.zipcode%> name="zipcode">
                <button type="submit">Submit</button>
            </form>
        <% }); %>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
