<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
                <div class="jumbotron">
                    <h1>CRUD</h1>
                    <p>Contact Person</p>
                    <table style="width:100%">

                    <tr>
                         <th>ID</th>
                        <th>Nama Grup</th>
                         <% temp.forEach(function(temps) { %>
                         <tr>
                            <td><%= temps.id%></td>
                            <td><%= temps.name%></td>
                            <td>
                                <a href="/deleteGroup/<%= temps.id%>">Delete</a>
                                <a href="/editGroup/<%= temps.id%>">Edit</a> 
                            </td>
                        </tr>
                        <% }); %>

                    </table>
                </div>
            </div>
            <div>
            <form action="/newgroup" method="POST">
                <input type="text" placeholder="name" name="name">
                <button type="submit">Submit</button>
            </form>
        </div>
    </main>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
