<!DOCTYPE html>
<html>
<head>
  <title>Welcome | PJAP17</title>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:300" rel="stylesheet" type="text/css">
  <!-- <link rel="stylesheet" type="text/css" href="/assets/style.css"> -->
</head>
  <body>
    <h1>Halaman Add Contacts</h1>
    <form class="" style="margin-top:10px;" action="/contacts/addcontacts/ %>" method="POST">
      <input type="text" name="name" placeholder="Masukan Nama Depan">
      <input type="text" name="company" placeholder="Masukan Perusahaan">
      <input type="text" name="telp" placeholder="Masukan Telpon">
      <input type="text" name="email" placeholder="Masukan Email">
      <input type="submit" value="SUBMIT">
    </form>
  </body>
</html>
